// site
// all the shit



// Basics
body {
	font: 14px/21px "HelveticaNeue", "Helvetica Neue", Helvetica, Arial, sans-serif;
	-webkit-text-size-adjust: 100%;
	background: $vanilla;
	color: $offBlack;
}

.container { @include container; }

header {
  background: $purple;
  border-bottom: 4px solid lighten($plum, 5%);
  padding: 20px 0 15px 0;
  h1 {
    margin: 0;
    padding: 0;
    font-family: $sans-font;
    font-weight: 100;
    line-height: 0.80em;
    font-size: 2.5em;
    text-transform: uppercase;
    text-shadow: 0px 2px 0px darken($purple, 15%);
    color: $offWhite;
    @include span-columns(4,12);
  }
  span {
    color: mix($purple, $haze, 40%);
    font-family: $serif-font;
    font-size: 0.4em;
    display: block;
    text-transform: lowercase;
    margin-top: 8px; 
    line-height: 1em;
  }
  nav {
    @include span-columns(4 omega, 12);
    ul {
      float: right;
      margin: 0px;
    }
    li {
      display: block;
      margin-left: $gutter;
      font-size:  0.85em;
      text-transform: uppercase;
      line-height: 2.3em;
      font-family: $serif-font;
      color: mix($pink, $purple, 10%);
    }
    a {
      text-decoration: none;
      margin-left: 5px;
      text-transform: capitalize;
      font-size: 1.3em;
      color: lighten($pink, 18%);
      &:hover { color: lighten($pink, 10%); }
    }
  }
  .avatar {
    @include span-columns(4,12);
    text-align: center;
    height: 80px;
    img {
      position: relative;
      top: -$gutter/2;
      width: 40%;
    }
  }
}



