// Modifications to reset styles &
// shared styles throughout the site

body {
  -webkit-text-size-adjust: 100%;
  background-color: $vanilla;
  font-family: $sans-font;
  font-weight: 400;
  line-height: 1.25em;
  color: $slate;
}

i, cite, em, var, address, dfn {
  font-style: italic;
}

strong, b {
  font-weight: 600;
}

p {
  color: $offBlack;

  a {
    border-bottom: 1px solid $plum-light;
    font-weight: 500;
    color: $purple;
    &:hover {
      background-color: $plum-light;
      color: $offWhite;
      border-bottom: 1px solid $purple;
    }
  }
}

a {
  text-decoration: none;
  @include transition(all .3s ease);

  i {
    font-size: $sm-font-size;
    padding-right: 4px;
    color: $purple-light;
  }
}

pre {
  margin-top: 0px;
  margin-bottom: 25px;
  code {
    width: 95%;
    display: block;
    padding: $site-gutter / 2;
    font-family: Consolas, "Liberation Mono", Courier, monospace;
    white-space: pre;
    border-radius: 6px;
    background: rgba(255, 255, 255, 0.7);
  }
}


.container {
  overflow: visible;
  @include outer-container;

  @include media(min-width $wide-tablet+1 max-width $wide-desktop - 100, 12) {
    width: $wide-tablet - 50;
  }

  @include media(min-width $tablet+1 max-width $wide-tablet, 12) {
    width: $tablet - 50;
  }

  @include media(max-width $tablet, 6) {
    padding-left: $site-gutter;
    padding-right: $site-gutter;
    width: 100%;
  }
}

section {
  padding: ($site-gutter * 3) 0;
  border-bottom: 1px solid $raspberry;
  h2 {
    margin: 0px;
    color: $violet;
    padding-bottom: $site-gutter;
    text-align: center;
    font-size: 1.75em;
    font-weight: 300;
    font-family: $sans-font;
    line-height: 1em;
  }

  @include media(max-width $wide-mobile, 12) {
    padding: $site-gutter*2 0;
  }
}

hr {
  background: lighten($haze, 2%);
  margin: $gutter*1.3 0;
  width: 100%;
  height: 1px;
  border: 1px;
}

blockquote {
  width: 95%;
  margin: $gutter 0;
  margin-left: 2.5%;
  padding: $gutter/2;
  font-size: 1em;
  font-style: italic;
  background: rgba(255, 255, 255, 0.7);
}