
// HEADER & NAVIGATION
// ----------------------------------------
header {
  background-color: $purple;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  background-image: url('/img/nd-bg3.jpg');
  border-bottom: 4px solid $offBlack;
  height: $header-height-default;
  padding: 0px ($site-gutter / 2);
  @include responsive-header-content($header-height-default);

  .navigation {
    background-image: url('/img/nd-float4.png');
    background-repeat: no-repeat;
    background-size: contain;
    background-position: 100px center;
    height: 100%;
    position: relative;
    bottom: 0px;
    @include outer-container;
  }

  @media screen and (min-width: 961px) and (max-width: 1200px) {
    height: $header-height-desktop;
    @include responsive-header-content($header-height-desktop);
  }

  @media screen and (min-width: 601px) and (max-width: 960px) {
    height: $header-height-tablet;
    @include responsive-header-content($header-height-tablet);
  }
  @media screen and (max-width: 600px) {
    height: $header-height-mobile;
    @include responsive-header-content($header-height-mobile);
  }
}

.header-title {
  padding: 0px;
  margin-top: 0px;
  margin-bottom: 0px;
  font-family: $sans-font;
  font-weight: 800;
  font-size: $xxl-font-size + 2;
  line-height: 0.9em;
  text-transform: uppercase;
  text-shadow: 0px 2px 0px darken($purple, 10%);
  @include span-columns(3);
  a {
    color: mix($offWhite, $purple, 80%);
    &:hover {
      color: mix($offWhite, $purple, 60%);
    }
  }
  img {
    width: 70%;
  }
}
.header-links {
  margin-top: 0px;
  @include span-columns(4);
  @include shift(5);

  ul {
    margin-top: 25px;
    padding: 0px;
  }
  li {
    padding: 0px;
    margin: 0px;
    float: right;
    display: inline-block;
    padding-left: $site-gutter;
    font-family: $serif-font;
    font-size: $md-font-size;
    text-align: right;
    text-transform: uppercase;
    color: lighten($plum, 10%);
  }
  a {
    opacity: 0.8;
    color: $vanilla;
    text-decoration: none;
    &:hover {
      opacity: 1;
      color: darken($vanilla, 10%);
    }
  }
}
