.portfolio-item {
  @include span-columns(6);
  margin-bottom: $site-gutter * 1.5;

  &:nth-child(2n) {
    @include omega;
  }

  i {
    font-size: 16px;
  }

  img {
    @extend %styled-image;

    &:hover {
      top: 1px;
      position: relative;
      box-shadow: rgba(0, 0, 0, 0.3) 0 1px 3px;
    }
  }
}

.post-role {
  margin: 0 0 5px 0;
  display: block;
  font-family: $serif-font;
  font-size: 0.6em;
  text-transform: uppercase;
  word-spacing: 1px;
  font-weight: 300;
  color: lighten($slate, 15%);
}

.portfolio-item-header {
  font-size: 1.3em;
  margin-bottom: 0px;
  font-family: $sans-font;
  line-height: 1em;
  color: $plum;
  .post-links {
    float: right;
    display: inline-block;
  }
  i {
    position: relative;
    top: 6px;
    font-size: 1.4em;
  }
  a {
    color: $plum;
    &:hover {
      color: darken($plum, 10%);
    }
  }
  a > i {
    margin-left: $gutter/4;
    text-decoration: none;
    color: $plum-light;
    @include transition(all .3s ease-in);
    &:hover {
      color: $plum;
    }
  }
}

.portfolio-individual {
  @include span-columns(10);
  @include shift(1);
  @include clearfix;

  .portfolio-item {
    margin-bottom: $gutter;
    @include span-columns(12);
  }
  .portfolio-content {
    @include span-columns(7);

    p {
      @extend %paragraph-text;
    }
  }
  .page-meta {
    @include span-columns(5);
    display: block;
    padding: 0px;
    margin-bottom: $gutter/4;
    color: mix($slate, $offBlack);
    a {
      color: mix($purple, $teal);
      &:hover {
        color: $purple;
      }
    }
    li {
      list-style-type: none;
    }
    label {
      margin-right: 12px;
      width: 40px;
      display: inline-block;
      font-size: $sm-font-size;
      font-weight: 600;
      text-align: right;
      text-transform: uppercase;
      color: $slate-light;
    }
  }

  .portfolio-images {
    text-align: center;
    img {
      @extend %styled-image;
      max-width: 100%;
      margin-bottom: $site-gutter * 1.5;
    }
  }

  img.grid-one {
    @include span-columns(1);
  }
  img.grid-two {
    @include span-columns(2);
  }
  img.grid-three {
    @include span-columns(3);
  }
  img.grid-four {
    @include span-columns(4);
  }
  img.grid-five {
    @include span-columns(5);
  }
  img.grid-six {
    @include span-columns(6);
  }
  img.grid-seven {
    @include span-columns(7);
  }
  img.grid-eight {
    @include span-columns(8);
  }
  img.grid-nine {
    @include span-columns(9);
  }
  img.grid-ten {
    @include span-columns(10);
  }
  img.grid-eleven {
    @include span-columns(11);
  }
  img.grid-twelve {
    @include span-columns(12);
  }
  img.grid-center {
    margin-right: auto;
    margin-left: auto;
    text-align: center;
    width: auto;
  }
  img.omega {
    @include omega();
  }
  img.no-shadow {
    box-shadow: none;
  }
}