// Basics
body {
  -webkit-text-size-adjust: 100%;
  font-size: 14px;
  font-family: $sans-font;
  line-height: 21px;
  font-weight: 400;
  color: $slate;
}


header {
  padding: $gutter 0 $gutter/2+5 0;
  border-bottom: 4px solid lighten($plum, 5%);
  background: $vanilla;

  h1 {
    //@include span-columns(12);
    //@include at-breakpoint($mobile) { @include span-columns(7, 12); font-size: 2.5em; }
    //@include at-breakpoint($narrow-tablet) { @include span-columns(6, 12); }

    padding: 0;
    font-family: $sans-font;
    font-weight: 400;
    font-size: 2em;
    line-height: 0.80em;
    text-transform: uppercase;
    text-shadow: 0px 2px 0px darken($purple, 10%);
    a { 
      color: mix($offWhite, $purple, 80%);
      &:hover { color: mix($offWhite, $purple, 60%); }
    }
  }

  .tagline {
    display: block;
    font-family: $serif-font;
    font-size: 0.4em;
    font-weight: 100;
    margin-top: $gutter/3;
    line-height: 1em;
    text-transform: lowercase;
    text-shadow: 0px 1px 0px darken($purple, 10%);
    color: lighten($plum, 20%);
  }

  // Responsive
  nav .span { 
    display: none; 
    //@include at-breakpoint($narrow-tablet)  { display: inline-block; }
  }
}

nav[role="navigation"] {
  margin-top: $gutter/2;

  //@include span-columns(12);


  ul { margin: 0; }
  li {
    display: block;
    font-size:  0.85em;
    font-family: $serif-font;
    line-height: 1.5em;
    text-align: left;
    text-transform: uppercase;
    color: lighten($plum, 10%);
  }
  a {
    font-size: 1.3em;
    text-decoration: none;
    text-transform: capitalize;
    color: $vanilla;
    &:hover { color: darken($vanilla, 10%); }
  }
  span { display: none; }
  //@include at-breakpoint($computer) { span { display: inline; } }
}

section[role="intro"] {
  h2 {
    margin: 0;
    font-size: 1.15em;
    font-family: $serif-font;
    line-height: 1.25em;
    text-transform: none;
    color: mix($offBlack, $plum, 40%);
    em { color: $slate; }
    //@include at-breakpoint($narrow-tablet) { margin: $gutter/2 0;  font-size: 1.5em; }
    //@include at-breakpoint($computer) { font-size: 2em; }
  }
}

section[role="hire-me"] {
  font-family: $serif-font;

  .social-links {
    //@include span-columns(12);
    //@include at-breakpoint($narrow-tablet) { @include span-columns(7, 12); }
    margin-bottom: $gutter;
    padding: 0px;

    li {
      //@include span-columns(6);
      margin-bottom: $gutter*1.1;
      font-size: 1.6em;
      line-height: 1em;
      &:nth-child(2n) { margin-right: 0; }
      &:nth-child(n+5) { margin-bottom: 0; }
    }
    a {
      font-family: $sans-font;
      text-decoration: none;
      color: $plum;
      &:hover {
        color: mix($offBlack, $plum, 40%);
        // @include transition(all .25s ease-in);
      }
    }
    i {
      margin-right: 2px;
      font-size: 18px;
      color: lighten($plum, 10%);
    }
    span {
      width: 90%;
      display: block;
      overflow: hidden;
      font-size: 0.55em;
      font-family: $serif-font;
      text-shadow: 0px -1px 0px white;
      color: darken($teal, 10%);
      &:hover {
        color: mix($offBlack, $plum, 40%);
        // @include transition(all .25s ease-in);
      }
    }
  }

  .looking-for {
    //@include span-columns(12);
    //@include at-breakpoint($narrow-tablet)  { @include span-columns(5 omega, 12); }

    p {
      margin-bottom: $gutter/2;
      font-size: 1.2em;
      line-height: 1.2em;
      text-align: center;
      color: $slate;
    }
    .highlight {
      font-size: 1.5em;
      margin-bottom: 20px;
      color: mix($offBlack, $slate);
    }
    small {
      font-size: 0.8em;
      margin-top: $gutter/2;
      display: inline-block;
      line-height: auto;
    }
    a {
      color: $plum;
      font-weight: 500;
    }
    a.btn {
      display: block;
      padding: $gutter/3;
      font-size: 1.2em;  //em
      font-family: $sans-font;
      font-weight: 700;
      text-align: center;
      text-decoration: none;
      text-transform: uppercase;
      text-shadow: 0px -1px 0px lighten($teal, 10%);
      box-shadow: 0px 3px 0px  darken($teal, 10%);
      border: 3px solid transparent; // Safari border fix
      background: $teal;
      color: $purple;
      //@include border-radius(5px);
      &:hover {
        position: relative;
        top: 2px;
        text-shadow: 0px -1px 0px lighten($purple, 25%);
        box-shadow: 0px 3px 0px lighten($purple, 10%);
        background: lighten($purple, 18%);
      }
    }
  }


    // Responsive
  .avatar img, .tagline, nav .span { display: none; 
    //@include at-breakpoint($wide-tablet)  { display: inline-block; }
  }
}

@import "portfolio";

section[role="blog"] {
  article, aside {
    //@include span-columns(12);
    //@include at-breakpoint($narrow-tablet) { @include span-columns(10,12); @include pre(1); }
  }
  article {
    margin-bottom: 35px;
  }
  h3 {
    margin-bottom: $gutter/2.5;
    font-family: $sans-font;
    font-weight: 700;
    font-size: 1.6em;
    word-spacing: 1px;

    a { color: lighten($plum, 5%); }
  }

  p {
    margin: $gutter/1.5 0;
    font-family: $serif-font;
    font-size: 1.1em;
    line-height: 1.6em;
    color: $slate;
    &:last-child { margin: 0; }

    a {
      border-bottom: 1px dotted rgba(0,0,0,0.2);
      &:hover { border: 0px; }
    }

    img {
      margin: $gutter/2 0 $gutter/3 0;
      @include styled-image;
    }
  }

  a {
    color: darken($teal, 20%);
    &:hover { color: darken($teal, 10%); }
  }

  .meta {
    margin: $gutter/3 0 $gutter 0;
    font-family: $sans-font;
    font-size: 0.9em;
    color: $plum;

    a {
      margin: 0;
      padding-right: 5px;
      font-size: 1.2em;
      font-weight: 100;
      line-height: 1px;
      vertical-align: baseline;
      color: lighten($plum, 20%);
    }

    i {
      margin-left: 5px;
      font-size: 0.8em;
    }
  }
  .single {
    margin-bottom: $gutter;

    h3 {
      font-size: 1.8em;
      line-height: 1em;
    }

    ul {
      margin-left: $gutter;

      li {
        margin: $gutter/3 0;
        font-size: 0.9em;
        list-style-type: disc;
      }
    }
  }
  aside {
    a {
      padding: 6px;
      font-size: 0.85em;
      text-transform: uppercase;

      background: rgba(255,255,255,0.8);
      color: lighten($plum, 15%);
      //@include border-radius(3px);
    }

    li {
      //@include span-columns(12);
      //@include at-breakpoint($narrow-tablet) { @include span-columns(4,12); margin-bottom: 0; }
      margin-top: $gutter/2;
      text-align: center;
      word-spacing: 2px;
      //&:last-child { @include omega; }
    }
  }

}

section[role="projects"] {
  .side-project {
    //@include span-columns(12);
    //@include at-breakpoint($narrow-tablet) { @include mini-half-col; margin-bottom: 0; }
    margin-bottom: $gutter;
    // &:last-child { @include omega; }

    h3 {
      margin-bottom: $gutter/3;
      font-size: 1.3em;

      a {
        margin-left: $gutter/5;
        font-size: 0.8em;
        color: mix($haze, $teal, 35%);
        &:hover { color: darken($teal, 10%); }
      }
    }

    p {
      font-size: 1.05em;
      font-family: $serif-font;
      line-height: 1.5em;
      color: $slate;
    }
  }
}

footer {
  padding: $gutter/2 0 $gutter/2 0;
  font-family: $serif-font;
  border-top: 4px solid lighten($plum, 5%);
  background: $purple;

  p {
    font-size: 0.8em;
    color: lighten($plum, 10%);
    //@include span-columns(6);
    //&:last-child { @include omega; text-align: right; }
  }

  a {
    margin-left: $gutter/3;
    font-size: 0.9em;
    text-transform: uppercase;
    color: mix($plum, $haze);
    &:hover { color: mix($plum, $haze, 20%); }
  }
}
