@mixin mini-half-col() {
  width: 47.5%;
  float: left;
  margin-right: 3%;
  display: inline;
}

@mixin responsive-header-content($size, $height) {
  .header-title {
    position: relative;
    bottom: -$size + ($height + 20px);
    height: $height;
  }
  .header-links {
    position: relative;
    bottom: -$size + 65px;
  }
}

%styled-image {
  box-shadow: 0 1px 3px rgba(0,0,0,0.3);
  border-radius: 5px;
  width: 100%;
}

%paragraph-text {
  color: $slate;
  margin-top: 0px;
  margin-bottom: $site-gutter/1.5;
  font-family: $serif-font;
  font-size: 16px;
  font-weight: 300;
  line-height: 22px;
  &:last-child {
    margin: 0;
  }
}