$offWhite: #e6e6e6;
$offBlack: #333333;

$vanilla: #f7f6e4;
$purple: #2f2b3f;
$teal: #79b7b0;
$plum: #635063;
$haze: #C1D2CF;
$pink: #FA9887;

$lightPlum: mix($plum, $vanilla, 25%);
$slate: mix($vanilla, $offBlack, 28%);

$gutter: 25px;

$serif-font: "adelle", Georgia, serif;
$sans-font: "effra", "Proxima Nova", "Helvetica Neue", sans-serif;
 
//alternative layout breakpoints
$mobile: 23em;
$wide-mobile: 34em;
$narrow-tablet: 40em;
$wide-tablet: 46em;
$computer: 55em 12;