@mixin mini-half-col() {
  width: 47.5%;
  float: left;
  margin-right: 3%;
  display: inline;
}

@mixin responsive-header-content($size) {
  .header-title {
    position: relative;
    bottom: -$size + 150px;
  }
  .header-links {
    position: relative;
    bottom: -$size + 65px;
  }
}