
// Custom colors
// ----------------
$offWhite: #e6e6e6;
$offBlack: #333333;

$vanilla:  #f7f6e4;
$purple:   #2f2b3f;
$teal:     #79b7b0;
$plum:     #635063;
$haze:     #C1D2CF;
$pink:     #FA9887;

$lightPlum: mix($plum, $vanilla, 25%);
$slate: mix($vanilla, $offBlack, 28%);


// Neat & Bourbon overrides
// ------------------------
$visual-grid: true;
$visual-grid-index: front;


// Typography
// ------------------------
$serif-font: "adelle", Georgia, serif;
$sans-font: "effra", "Proxima Nova", "Helvetica Neue", sans-serif;


// Alternative breakpoints
// ------------------------
//$mobile: 23em;
//$wide-mobile: 34em;
//$narrow-tablet: 40em;
//$wide-tablet: 46em;
//$computer: 55em 12;

//$gutter: 2em;
$site-gutter: 20px;

$sm-font-size:  12px;
$md-font-size:  14px;
$lg-font-size:  18px;
$xl-font-size:  22px;
$xxl-font-size: 28px;