
// Custom colors
// ----------------
$offWhite:      #e6e6e6;
$offBlack:      #333333;

$vanilla:       #f7f6e4;
$purple:        #2f2b3f;
$teal:          #79b7b0;
$plum:          #635063;
$haze:          #C1D2CF;

$pink:          #FA9887;

$violet:        mix($plum, $purple);
$slate:         mix($vanilla, $offBlack, 20%);
$raspberry:     mix($plum, $vanilla, 20%);

$plum-light:    lighten($plum, 20%);
$purple-light:  lighten($purple, 20%);
$slate-light:   lighten($slate, 20%);

$header-height-default: 480px;
$header-height-desktop: 400px;
$header-height-tablet: 240px;
$header-height-mobile: 180px;


// Neat & Bourbon overrides
// ------------------------
//$visual-grid: true;
$visual-grid-index: front;



// Typography
// ------------------------
$serif-font: "adelle", "Adelle", Georgia, serif;
$sans-font: "adelle-sans", "Adelle Sans", "Effra", "Proxima Nova", "Helvetica Neue", Helvetica, sans-serif;


// Alternative breakpoints
// ------------------------

$mobile:          320px;
$wide-mobile:     480px;
$narrow-tablet:   640px;
$tablet:          768px;
$wide-tablet:     960px;
$desktop:         1000px;
$wide-desktop:    1200px;



//$gutter: 2em;
$site-gutter: 20px;

$sm-font-size:  12px;
$md-font-size:  14px;
$lg-font-size:  18px;
$xl-font-size:  22px;
$xxl-font-size: 28px;