<footer>
    <div class="container">
        <p class="footer-meta">&copy; 2008-2015 Nicole Dominguez</p>
        <ul class="footer-links">
            <li>
                <a href="https://github.com/sodevious/sodevious.github.io">Source</a>
            </li>      
            <li>
                <a href="https://nicoledominguez.me">More Work</a>
            </li>
            <li>
                <a href="/feed.xml">RSS Feed</a>
            </li>
        </ul>
    </div>
</footer>

{% include analytics.html %}
</body>
</html>