<img src="/assets/images/nd-travel-d.jpg" id="skip" class="nd-travel-img" alt="Nicole Dominguez UI Developer" />

<footer class="nd-footer" role="contentinfo">
  <div class="footer-col">
    <span class="nd-footer__copyright">
        &copy; Nicole Dominguez & NerdyFab LLC {{ site.time | date: '%Y' }}
    </span>
  </div>

  <div class="footer-col">
    <ul class="nd-footer-list">
      <li><a href="mailto:work@nicoledominguez.com" class="nd-footer-list__link">work@nicoledominguez.com</a></li>

      <li><a href="#" class="nd-footer-list__link footer-icon" target="_blank" aria-label="Download Resumé"><i class="fa fa-file" aria-hidden="true"></i></a></li>

      {% for site in site.data.about.footer_links %}
        <li><a href="{{ site.link }}" class="nd-footer-list__link footer-icon" target="_blank" aria-label="Visit my profile on {{ site.network }}"><i class="fa fa-{{ site.network }}" aria-hidden="true"></i></a></li>
      {% endfor %}
    </ul>
  </div>

  <div class="clearfix"></div>
</footer>
