<img src="/assets/images/nd-travel-d.jpg" id="skip" class="nd-travel-img" alt="Nicole Dominguez UI Developer" />

<footer class="nd-footer" role="contentinfo">
  <div class="footer-col">
    <span class="nd-footer__copyright">
        &copy; Nicole Dominguez & NerdyFab LLC {{ site.time | date: '%Y' }}
    </span>
  </div>

  <div class="footer-col">
    <ul class="nd-footer-list">
      <li><a href="https://github.com/sodevious/sodevious.github.io" target="_blank" class="nd-footer-list__link hide-on-mobile">Source</a></li>

      {% for site in site.data.about.footer_links %}
        <li><a href="{{ site.link }}" class="nd-footer-list__link footer-icon" target="_blank"><i class="fa fa-{{ site.network }}">{{ site.network }}</i></a></li>
      {% endfor %}
    </ul>
  </div>

  <div class="clearfix"></div>
</footer>
