<div class="nd-header nd-row">
  <div class="nd-header-info nd-col-6">
    <div class="nd-header-info__wrapper">
      <a href="/">
        <img src="/assets/images/nd-logo.svg" class="nd-header-logo"/>
      </a>
      
      <h3 class="nd-header-title">
        Freelance Product Designer &amp; Front-end Developer
      </h3>

      <p class="nd-header-intro">
        An empathetic curious human. Passionate about delightful, usable experiences made possible by great reusable and scalable code.
      </p>

      <a href="/assets/public/ndominguez-resume-2017.pdf" target="_blank" class="nd-header-cta">
        <i class="fa fa-file"></i>
        Resumé
      </a>

      <a href="/portfolio" class="nd-header-cta">
        <i class="fa fa-image"></i>
        Portfolio
      </a>

      <a href="/about" class="nd-header-cta">
        <i class="fa fa-user"></i>
        About
      </a>
    </div>
  </div>

  <div class="nd-header-image nd-col-6">
    <a href="http://www.warmpears.com/" target="_blank" class="nd-header-credit">Photo by @warmpears</a>
  </div>
</div>
<div class="clearfix"></div>