<header>
    <div class="container">
        <h1 class="title">
            <a href="/">{{ site.name }}</a>
            <span class="tagline">design, front-end development</span>
        </h1>

        <div class="avatar"> 
            <img src="/assets/images/nicole-dominguez-avatar.png" />
        </div> 

        <nav role="navigation">
            <ul>
                <li><span>I make things</span> <a href="/portfolio">Portfolio</a></li>
                <li><span>Sometimes I haz</span> <a href="/thoughts">Thoughts</a></li>
                <li><span>Resume</span> coming soon</li>
            </ul> 
        </nav>
    </div>
</header>