<header>
    <div class="container">
        <h1 class="title">
            {{ site.name }}
            <span>design, front-end development</span>
        </h1>

        <div class="avatar"> 
            <img src="images/nicole-dominguez-avatar.png" />
        </div> 

        <nav>
            <ul>
                <li>Like Mac N' Cheese <a href="#">Projects</a></li>
                <li>Ain't yo' mama's <a href="#">Resume</a></li>
                <li>Sometimes I write <a href="#">Thoughts</a></li>
            </ul> 
        </nav>
    </div>
</header>