<!DOCTYPE html>
<html>
<head>    
    <!-- Meta -->
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <title>{{ page.title }} -- @sodevious</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <link rel="shortcut icon" href="/assets/images/favicon.ico">
    <link rel="alternate" type="application/rss+xml" title="RSS Feed for nicoledominguez.com" href="/feed.xml" />
    <meta name="description" content="{{ page.excerpt | strip_html | strip_newlines | truncate: 156 }}">

    <!-- Stylesheets -->
    <link rel="stylesheet" href="/assets/stylesheets/app.css">
    <link rel="stylesheet" href="/assets/vendor/font-awesome.min.css">
    <link rel="stylesheet" href="/assets/vendor/font-awesome-social.css">
    
    <!-- Vendor -->
    <meta name="twitter:card" content="summary">
    <meta name="twitter:site" content="@sodevious">
    <meta name="google-site-verification" content="af0x8lMFq5Izj7MNfhrGXiObtaPCSo4QrON2DW8BjIM" />
    <script type="text/javascript" src="//use.typekit.net/kna6wrw.js"></script>
    <script type="text/javascript">try{Typekit.load();}catch(e){}</script> 
</head>
<body>