<section role="hire-me">
	<div class="container">
	<ul>
		<li><a href="https://twitter.com/sodevious"><i class="icon-twitter"></i> tweets <span>twitter.com/sodevious</span></a></li>
		<li><a href="https://github.com/sodevious"><i class="icon-github"></i> code <span>github.com/sodevious</span></a></li>
		<li><a href="http://dribbble.com/nicoledominguez"><i class="icon-dribbble"></i> design <span>dribbble.com/nicoledominguez</span></a></li>
		<li><a href="http://www.linkedin.com/in/domingueznicole/"><i class="icon-linkedin"></i> work <span>linkedin.com/in/domingueznicole</span></a></li>
		<li><a href="http://nicoledominguez.me"><i class="icon-heart"></i> more design <span>nicoledominguez.me</span></a></li>
		<li><a href="http://www.sodevious.me"><i class="icon-home"></i> blog <span>sodevious.me</span></a></li>

	</ul>

	<aside>
		<p>
			<span>I'm currently looking for a full-time role with a small startup or tech company in New York.</span> 

			I'm  using my background in web and graphic design to push my newfound career in UX and product design. Let's solve awesome problems together!</p>

		<a href="mailto:nicoledominguez@me.com">Let's talk</a>
	</aside>
</div>

</section>