<section role="hire-me">
	<div class="container">
		<ul>
			<li><a href="https://twitter.com/sodevious"><i class="icon-twitter"></i> tweets <span>twitter.com/sodevious</span></a></li>
			<li><a href="https://github.com/sodevious"><i class="icon-github"></i> code <span>github.com/sodevious</span></a></li>
			<li><a href="http://dribbble.com/nicoledominguez"><i class="icon-dribbble"></i> design <span>dribbble.com/nicoledominguez</span></a></li>
			<li><a href="http://www.linkedin.com/in/domingueznicole/"><i class="icon-linkedin"></i> work <span>linkedin.com/in/domingueznicole</span></a></li>
			<li><a href="http://nicoledominguez.me"><i class="icon-heart"></i> more design <span>nicoledominguez.me</span></a></li>
			<li><a href="http://www.sodevious.me"><i class="icon-home"></i> personal blog <span>sodevious.me</span></a></li>
		</ul>
		<aside>
			<p class="looking-for">I'm currently seeking a full-time or in-house freelance/contract position with a small startup or tech company in NYC.</p>
			<p>Let's build awesome products, make data-driven decisions, and change the world one line of code at a time.</p>
			<a href="mailto:nicoledominguez@me.com">wanna talk?</a>
		</aside>
	</div>
</section>