<section class="intro">
    <div class="container">
        <h2>Brooklyn based spunky designer who loves yoga, code &amp; glitter.</h2>

        <div class="biography">
            <p>

                I am a freelance designer and developer, most recently working on Product Design and Front-end Development for web apps.

                On the side, I am organizing Django Girls NYC,
                traveling, practicing yoga and learning Python! I
                <a href="https://twitter.com/sodevious"><i class="icon-twitter"></i>tweet</a> a lot,
                but write <a href="https://github.com/sodevious"><i class="icon-github"></i>code</a> just
                as much. I tend to post selected design work on
                <a href="http://dribbble.com/nicoledominguez"><i class="icon-dribbble"></i>dribbble</a>,
                and <a href="http://medium.com/@sodevious"><i class="icon-heart"></i>write</a> about it
                every once in a while.
            </p>
        </div>
    </div>

    <a href="/about" class="section-link">Learn more about me <i class="icon-long-arrow-right"></i></a>
</section>