<section class="intro">
    <div class="container">
        <h2>A passionate, spunky designer who loves food, code, nerds &amp; all things nautical.</h2>

        <div class="biography">
            <p>
                I live in New York, where I spend my days as a Senior Product Designer &amp; Front End Developer
                working with the amazing team at <a href="#">
                Sawhorse Media</a>. We run the annual <a href="#">Shorty Awards</a>,
                that honor the best of social media; as well as improve the professional worlds
                of journalism and PR with <a href="#">Muck Rack</a>.
            </p>
        </div>
        <div class="social-links">
            <h3>On the interwebs</h3>
            <p>
                I <a href="https://twitter.com/sodevious"><i class="icon-twitter"></i>tweet</a> a lot,
                but write <a href="https://github.com/sodevious"><i class="icon-github"></i>code</a> just
                as much. I tend to post my designs on
                <a href="http://dribbble.com/nicoledominguez"><i class="icon-dribbble"></i>dribbble</a>,
                and <a href="http://medium.com/@sodevious"><i class="icon-heart"></i>write</a> about it
                every once in a while.
            </p>
        </div>
    </div>

    <!--
        <a href="/about" class="section-link">Learn more about me <i class="icon-long-arrow-right"></i></a>
    -->
</section>