<header class="site-header">
    <div class="navigation">
        <h1 class="header-title">
            <a href="/">
                <span>Nicole Dominguez</span>
            </a>
        </h1>

        <nav class="header-links" role="navigation">
            <ul>
                <li><a href="/portfolio">Portfolio</a></li>
                <!-- <li><a href="/projects">Projects</a></li> -->
                <li><a href="/thoughts">Thoughts</a></li>
            </ul>
        </nav>
    </div>
</header>