<header class="nd-nav">
  <a href="/" aria-label="Nicole Dominguez">
    <h1>
      <img src="/assets/images/nd-logo__purple.svg" alt="Nicole Dominguez" class="header-title" />
    </h1>
  </a>

  <nav class="header-links" role="navigation">
    <ul>
      <li><a href="/" class="nd-header-cta">Home</a></li>
      <li><a href="/about" class="nd-header-cta">About</a></li>
      <li><a href="/portfolio" class="nd-header-cta">Portfolio</a></li>
    </ul>
  </nav>
</header>

<div class="clearfix"></div>
