---
layout: page
title: Nicole Dominguez is a Freelance Front End Developer & Designer
---

<div class="nd-row nd-about__container">
  {% assign features = site.data.about.features | sort:"year" | reverse %}

  {% for item in features %}
    {% if item.dont_show %}{% else %}
      <div class="nd-about-item nd-col-4">
        <div class="nd-about-item__wrapper">
          {% if item.url %}
            <a href="{{ item.url }}" target="_blank" class="nd-about-item__title">{{ item.title }} <i class="fa fa-external-link"></i></a>

            <a href="{{ item.url }}" target="_blank" class="nd-about-item__source">
              <span><i class="fa fa-{{ item.icon }}"></i> {{ item.type }}</span>
              {{ item.publication }}
            </a>
          {% else %}
            <p class="nd-about-item__title">{{ item.title }}</p>

            <div class="nd-about-item__source">
              <span><i class="fa fa-{{ item.icon }}"></i> {{ item.type }}</span>
              {{ item.publication }}
            </div>
          {% endif %}

          <span class="nd-about-item__year">{{ item.year }}</span>

          <div class="clearfix"></div>
        </div>
      </div>
    {% endif %}
  {% endfor %}
</div>
<div class="clearfix"></div>
