---
layout: full
title: About Me

bio: Hey there &mdash; I&apos;m Nicole and I&apos;m a Senior Product Designer &amp; Front End Developer at <a href="http://sawhorsemedia.com">Sawhorse Media</a>. I&apos;m a completely self taught designer, and have been madly in love with the intersection between design markup for the past seven years. Based out of Brooklyn, NY, some of my favorite things are getting lost on my bike and discovering new foods.
---

<section class="blog">
    <div class="container">
        <h2>About Me</h2>

        <article>
            <p class="featured-paragraph">
                {{ page.bio }}
            </p>

            <h4>Featured In</h4>
            <ul>
                {% for feature in site.data.about.features %}
                    <li>
                        {{ feature.publication }}: "<a href="{{ feature.url }}" target="_blank">{{ feature.title }}</a>"
                    </li>
                {% endfor %}
            </ul>

            <h4>Speaking</h4>
            <ul>
                {% for feature in site.data.about.speaking %}
                    <li>
                        {{ feature.event }}: "<a href="{{ feature.url }}" target="_blank">{{ feature.title }}</a>"
                    </li>      
                {% endfor %}
            </ul>

            <h4>Mentoring</h4>
            <ul>
                {% for feature in site.data.about.mentoring %}
                    <li>{{ feature.item }}</li>
                {% endfor %}
            </ul>

            <h4>On the side</h4>
            <ul>
                {% for project in site.data.about.sideprojects %}
                    <li>{{ project.item }}</li>
                {% endfor %}
            </ul>

            <h4>Cool shit</h4>
            <ul>
                {% for thing in site.data.about.coolthings %}
                    <li>{{ thing.item }}</li>
                {% endfor %}
            </ul>
        </article>
    </div>
    
    <a href="/archives" class="section-link"><i class="icon-long-arrow-left"></i> Back to all the things!</a>
</section>
