//
// Branding
// --------------------------
$color-white:         #FFFFFF;
$color-beige:         #FBF8EF;

$color-gray-dark:     #333333;
$color-gray:          #888888;

$color-purple-light:  #715F80;
$color-purple:        #5b4370;
$color-purple-dark:   #4A2C64;

$color-pink:          #FE4365;


//
// Typography
// --------------------------
$font-adelle:         "adelle-sans", "Adelle Sans", "Proxima Nova", "Helvetica Neue", Helvetica, sans-serif;
$font-freight:        "freight-text-pro", "FreightText Pro", Helvetica, serif;

$font-adelle-light:       300;
$font-adelle-regular:     400;
$font-adelle-bold:        700;
$font-adelle-extra-bold:  700;

$font-freight-book:       400;
$font-freight-bold:       700;

$font-serif:              $font-freight;
$font-sans:               $font-adelle;


//
// Alternative breakpoints
// ------------------------
$mobile:          320px;
$wide-mobile:     480px;
$narrow-tablet:   640px;
$tablet:          800px;
$wide-tablet:     950px;
$desktop:         1000px;
$wide-desktop:    1200px;

$site-gutter:     20px;
$gutter:          20px;

$xs-font-size:    10px;
$sm-font-size:    12px;
$md-font-size:    14px;
$lg-font-size:    18px;
$xl-font-size:    22px;
$xxl-font-size:   28px;

$font-size-small: 0.75rem;
$font-size-base: 1rem;
$font-size-medium: 1.15rem;
$font-size-large: 1.25rem;
