//
// Branding
// --------------------------
$purple-dark:   #3C3C56;
$purple: 		#715F80;
$purple-light:  #B2A3BD;

$vanilla:       #f7f6e4;

$offWhite:      #e6e6e6;
$offBlack:      #333333;

$teal:          #79b7b0;
$plum:          #635063;
$haze:          #C1D2CF;

$pink:          #FE4365;

$violet:        mix($plum, $purple);
$slate:         mix($vanilla, $offBlack, 20%);
$raspberry:     mix($plum, $vanilla, 20%);

$plum-light:    lighten($plum, 20%);
$purple-light:  lighten($purple, 20%);
$slate-light:   lighten($slate, 20%);

$header-height-default: 	480px;
$header-height-desktop: 	400px;
$header-height-tablet: 		240px;
$header-height-mobile: 		180px;


// Neat & Bourbon overrides
// ------------------------
//$visual-grid: true;
$visual-grid-index: front;


//
// Typography
// --------------------------
$font-adelle: 	"adelle-sans", "Adelle Sans", "Proxima Nova", "Helvetica Neue", Helvetica, sans-serif;
$font-freight: 	"freight-text-pro", "Freight Text", Georgia, serif;

$font-adelle-light: 		  300;
$font-adelle-regular: 	  400;
$font-adelle-bold: 		  700;
$font-adelle-extra-bold: 	  700;

$font-freight-book: 		  400;
$font-freight-bold: 		  700;

$font-serif: 	          $font-freight;
$font-sans: 	          $font-adelle;


// Alternative breakpoints
// ------------------------

$mobile:          320px;
$wide-mobile:     480px;
$narrow-tablet:   640px;
$tablet:          800px;
$wide-tablet:     950px;
$desktop:         1000px;
$wide-desktop:    1200px;

$site-gutter: 	  20px;
$gutter: 		  20px;

$xs-font-size:    10px;
$sm-font-size:    12px;
$md-font-size:    14px;
$lg-font-size:    18px;
$xl-font-size:    22px;
$xxl-font-size:   28px;
