
// HEADER & NAVIGATION
// ----------------------------------------
header {
  background-color: $purple;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  background-image: url('/img/nd-bg3.jpg');
  border-bottom: 4px solid $offBlack;
  .navigation {
    height: 100%;
    position: relative;
    bottom: 0px;
    @include outer-container;

    // LARGE DESKTOP
    @include media(min-width $wide-tablet+1 max-width $wide-desktop, 12) {
      width: $wide-tablet - 50;
    }

    // MEDIUM DESKTOP
    @include media(min-width $tablet+1 max-width $wide-tablet, 12) {
      width: $tablet - 50;
    }

    @include media(max-width $tablet, 6) {
      background-position: right center;
      padding-left: $site-gutter;
      padding-right: $site-gutter;
      width: 100%;
    }
  }
}

.site-header {
  height: $header-height-mobile;

  @include responsive-header-content($header-height-mobile, 220px);
  .header-title {
    width: 220px;
  }
  .header-links {
    width: 50%;
    float: right;
    margin-left: 0px;
  }
  @include media(max-width $narrow-tablet + 11, 12) {
    margin-bottom: 20px;
    .header-title {
      text-align: center;
      bottom: -20px;
      height: 140px;
      width: 100%;
      background-position: center center;
    }
    .header-links {
      @include span-columns(12);
      position: relative;
      margin-left: 0px;
      bottom: -25px;

      li {
        width: 32.33333%;
        margin: 0px;
        font-family: $font-sans;
        text-align: center;
        padding: 0px;
        a {
          color: $offBlack;
          font-size: $md-font-size - 2;
          border-bottom: 1px solid $plum;
          &:hover {
            color: $plum;
          }
        }
      }
    }
  }
}

.home-header {
  border-bottom: 4px solid $offBlack;
  height: $header-height-default;

  .navigation {
    background-image: url('/img/nd-float4.png');
    background-repeat: no-repeat;
    background-size: contain;
    background-position: 100px center;
  }

  @include responsive-header-content($header-height-default, 220px);

  // LARGE DESKTOP
  @include media(min-width $wide-tablet+1 max-width $wide-desktop, 12) {
    height: $header-height-desktop;
    @include responsive-header-content($header-height-desktop, 200px);
  }

  // MEDIUM DESKTOP
  @include media(min-width $tablet+1 max-width $wide-tablet, 12) {
    height: $header-height-tablet;
    @include responsive-header-content($header-height-tablet, 180px);
  }

  // MEDIUM DESKTOP
  @include media(min-width $narrow-tablet + 10 max-width $tablet, 12) {
    height: $header-height-tablet;
    @include responsive-header-content($header-height-tablet, 120px);
  }

  // TABLET
  @include media(max-width $narrow-tablet + 11, 12) {
    height: $header-height-mobile;
    margin-bottom: 25px;

    .header-title {
      @include span-columns(6);
      position: relative;
      height: 120px;
      top: 30px;
    }
    .header-links {
      @include span-columns(12);
      position: relative;
      margin-left: 0px;
      bottom: -50px;

      li {
        width: 32.33333%;
        margin: 0px;
        font-family: $font-sans;
        text-align: center;
        padding: 0px;
        a {
          color: $offBlack;
          font-size: $md-font-size - 2;
          border-bottom: 1px solid $plum;
          &:hover {
            color: $plum;
          }
        }
      }
    }
  }
  @include media(max-width $wide-mobile, 12) {
    height: 160px;

    .header-title {
      height: 100px;
    }
  }
}

.header-title {
  padding: 0px;
  margin-top: 0px;
  margin-bottom: 0px;
  background-image: url('../images/nicole-dominguez-logo.png');
  overflow: visible;
  background-repeat: no-repeat;
  background-size: contain;
  background-position: bottom left;
  font-size: 0px;
  @include span-columns(3);
  @include hide-text;
}

.header-links {
  margin-top: 0px;
  @include span-columns(6);
  @include shift(3);

  ul {
    margin-top: 25px;
    padding: 0px;
    text-align: right;

  }
  li {
    padding: 0px;
    margin: 0px;
    display: inline-block;
    text-align: right;
    padding-left: $site-gutter;
    font-family: $font-serif;
    font-size: $md-font-size;
    text-transform: uppercase;
    color: lighten($plum, 10%);

    @include media(min-width $wide-tablet+1, 12) {
      font-size: $md-font-size + 2;
      margin-left: 10px;

    }
  }
  a {
    opacity: 0.8;
    color: $vanilla;
    text-decoration: none;
    &:hover {
      opacity: 1;
      color: darken($vanilla, 10%);
    }
  }

}


// INTRODUCTION
// ----------------------------------------
.intro {
  h2 {
    padding-bottom: 30px;
    font-size: $xxl-font-size;
    font-family: $font-serif;
    line-height: 1.25em;
    color: mix($offBlack, $plum, 40%);

    @include media(min-width $wide-tablet+1 max-width $wide-desktop, 12) {
      font-size: $xl-font-size + 2;
    }
    @include media(max-width $wide-tablet, 12) {
      font-size: $lg-font-size + 1;
    }
    @include media(max-width $tablet, 12) {
      font-size: $xl-font-size + 1;
    }
  }

  p {
    text-align: left;
    font-size: $lg-font-size;
    line-height: $xl-font-size + 3;
    font-weight: 300;
    color: $violet;
    margin: 0px;

    @include media(max-width $wide-desktop, 12) {
      font-size: 16px;
      line-height: $xl-font-size;
    }

  }
  .biography {
    font-size: $lg-font-size;
    line-height: $xl-font-size + 3;
    font-weight: 300;
    color: $plum;
    padding-top: $site-gutter;

    @include shift(1);
    @include span-columns(10);

    @include media(max-width $tablet, 12) {
      @include span-columns(12);
      margin-bottom: $site-gutter;
    }
  }
  .social-links {
    h4 {
      margin-top: 0px;
    }
    p {
      color: $slate;
    }

    @include span-columns(5);
    @include media(max-width $tablet, 12) {
      @include span-columns(12);
      h3 {
        padding-bottom: 0px;
        padding-top: $site-gutter / 2;
      }
    }
  }
  .section-link {
    margin-top: $site-gutter * 2.5;
  }
}


// THOUGHTS
// ----------------------------------------
.blog {
  border-bottom: 0px;

  article, aside {
    @include span-columns(12);

    @include media(min-width $wide-tablet, 12) {
      @include span-columns(10);
      @include shift(1);
    }
  }

  article {
    margin-bottom: $site-gutter;

    .post-title {
      font-family: $font-sans;
      font-weight: 600;
      margin-bottom: $gutter/2.5;
      a {
        color: lighten($plum, 5%);

        &:hover {
          border-bottom: 1px solid $purple;
          background-color: $plum-light;
          color: $offWhite;
        }
      }
    }
    h3 {
      margin-bottom: 0px;
      font-family: $font-sans;
      font-weight: 700;
      font-size: 1.25em;
      line-height: 1.25em;
      word-spacing: 1px;
    }

    p img {
        margin: $gutter/2 0 $gutter/3 0;
        @extend %styled-image;

    }
  }
}
.post-meta {
  margin: $gutter/3 0 $gutter 0;
  font-family: $font-sans;
  font-size: 0.9em;
  color: $plum;

  a {
    margin: 0;
    padding-right: 5px;
    font-size: 1.2em;
    font-weight: 100;
    line-height: 1px;
    vertical-align: baseline;
    color: lighten($plum, 20%);
  }

  i {
    margin-left: 5px;
    font-size: 0.8em;
  }
}

.single-link {
  margin-bottom: $gutter;

  h3 {
    font-size: 1.8em;
    line-height: 1em;
  }

  ul {
    margin-left: $gutter;

    li {
      margin: $gutter/3 0;
      font-size: 0.9em;
      list-style-type: disc;
    }
  }
}


// FOOTER
// ----------------------------------------
footer {
  padding-top: 20px;
  padding-bottom: 10px;
  font-family: $font-sans;
  font-weight: 300;
  border-top: 4px solid $plum-light;
  background: $purple;

  p, a {
    font-size: 0.8em;
    color: lighten($plum, 10%);
  }
}

.footer-meta {
  @include span-columns(4);
}

.footer-links {
  @include span-columns(4);
  @include shift(4);
  padding: 0px;
  text-align: right;
  margin-top: 0px;

  li {
    display: inline-block;
    list-style-type: none;
  }

  a {
    margin-left: $site-gutter;
    text-transform: uppercase;

    &:hover {
      border-bottom: 1px solid $plum-light;
    }
  }
}

.featured-paragraph {
  font-size: $lg-font-size + 3;
  line-height: $xl-font-size + 8;
}

.section-link {
  display: block;
  margin-top: $gutter;
  font-family: $font-sans;
  font-size: 1.15em;
  font-style: italic;
  text-align: center;
  color: mix($plum, $vanilla, 65%);
  &:hover {
    color: $plum;
  }

  i {
    margin-right: 5px;
    margin-left: 5px;
  }
}