//
// Homepage Header
// --------------------------
$nd-header-height-fallback: 500px
$nd-header-height: 40vw
$nd-header-content-width: 500px
// --------------------------

//
// Layout & Grid
.nd-row
    display: block

    @media screen and (min-width: $tablet)
        justify-content: space-between
        flex-flow: row wrap
        display: flex

.nd-col-4
    @media screen and (min-width: $tablet)
        margin-right: 3%
        float: left
        width: 31%

        &:nth-child(3n)
            margin-right: 0

        @supports (display: flex)
            margin-right: 0
            flex: 0 0 31%
            float: none

.nd-col-6
    @media screen and (min-width: $tablet)
        width: 50%
        float: left

        @supports (display: flex)
            flex: 0 0 50%
            float: none

.nd-col-6__inner
    @media screen and (min-width: $tablet)
        margin-right: 4%
        float: left
        width: 48%

        @supports (display: flex)
            margin-right: 0
            flex: 0 0 48%
            float: none


//
// Header
// --------------------------
.nd-header
    background-color: $purple-dark
    width: 100%

    @media screen and (min-width: $tablet)
        min-height: $nd-header-height-fallback

        @supports (height: 45vw)
            height: 45vw

.nd-header-info
    text-align: center
    padding: 40px 0
    height: 100%
    color: white

    @media screen and (min-width: $tablet)
        min-height: $nd-header-height-fallback
        display: table
        padding: 0px

        @supports (display: flex)
            min-height: auto
            justify-content: center
            align-items: center
            display: flex

.nd-header-info__wrapper
    vertical-align: middle
    display: table-cell

.nd-header-logo
    max-width: 350px
    margin: 0 auto 20px
    display: block
    opacity: 0.75
    width: 80%

    @media screen and (min-width: $tablet)
        margin: 0 auto 2vw
        width: 26vw

.nd-header-title
    margin: auto
    opacity: 0.75
    line-height: 1.2em
    padding-bottom: 15px
    font-size: $lg-font-size
    font-weight: $nd-adelle-light

    @media screen and (min-width: $tablet)
        max-width: $nd-header-content-width - 90
        font-size: $lg-font-size - 2

    @media screen and (min-width: $desktop)
        max-width: $nd-header-content-width
        font-size: $lg-font-size + 3

.nd-header-intro
    margin: 0px auto
    line-height: 1.2em
    font-family: $nd-freight
    font-size: $lg-font-size + 2
    color: lighten($purple-light, 2.5%)
    width: 85%
    margin-bottom: 35px

    @media screen and (min-width: $tablet)
        max-width: $nd-header-content-width - 90
        font-size: $lg-font-size

    @media screen and (min-width: $desktop)
        max-width: $nd-header-content-width
        font-size: $lg-font-size + 5

.nd-header-cta
    font-weight: $nd-adelle-bold
    text-transform: uppercase
    font-size: $md-font-size
    display: inline-block
    text-align: center
    border-radius: 3px
    padding: 10px 14px
    color: $vanilla

    .fa
        margin-right: 8px
        color: $purple-light


    &:hover
        background-color: $pink
        color: $offWhite

        .fa
            color: $offWhite


//
// Header image
.nd-header-image
    background-color: $purple-dark
    background-image: url('/assets/images/nd-header-bg.jpg')
    background-position: center
    background-size: cover
    position: relative
    height: 100%

    @media screen and (min-width: $tablet)
        min-height: $nd-header-height-fallback

.nd-header-credit
    background-color: rgba(255,255,255,0.5)
    font-size: $sm-font-size
    display: inline-block
    position: absolute
    padding: 6px 10px
    color: $purple
    bottom: 0
    right: 0

    @media screen and (max-width: $tablet)
        display: none

    &:hover
        background-color: white
        color: $pink


//
// Hire me
.nd-hire-me
    background-color: mix($purple-dark, $purple)
    color: mix($offWhite, $purple-light, 70%)
    padding: $gutter * 2

    a 
        border-bottom: 2px solid $purple-dark
        text-decoration: none
        color: $offWhite

        &:hover 
            border-color: $pink
            color: white

    p
        margin-bottom: $gutter
        line-height: 1.5em

    strong
        color: white

    .lead 
        font-size: 22px
        color: $offWhite
        font-family: $nd-freight

.nd-hire-me-image
    background-color: $purple-dark
    background-image: url('/assets/images/nd-travel.jpg')
    background-position: center
    background-size: cover
    position: relative

.nd-travel-img 
    width: 100%
    display: block

.nd-skills
    padding: $gutter*2
    background-color: $vanilla
    color: mix($vanilla, $purple)
    background-color: mix($purple-dark, $purple)
    border-top: 1px solid $purple

    @media screen and (min-width: $tablet)
        border-left: 1px solid $purple
        border-top: 0

    ul 
        padding: 0

    li 
        list-style-type: none
        margin-bottom: $gutter

        @media screen and (min-width: $wide-mobile)
            display: inline-block
            width: 50%
            float: left


//
// Portfolio
.nd-portfolio
    padding: $gutter*2.5 $gutter*2
    background-color: $vanilla
    text-align: center

.nd-portfolio__heading
    font-weight: $nd-adelle-light
    padding-bottom: $gutter * 2.5
    font-size: $xl-font-size
    padding-top: $gutter
    margin: 0

.nd-portfolio__sub-heading
    font-weight: $nd-adelle-light
    font-family: $nd-freight
    margin-top: $gutter * 2.5
    color: $slate-light

    a 
        border-bottom: 2px solid mix($vanilla, $purple-light)

        &:hover 
            border-bottom-color: $pink
            color: $slate

.nd-portfolio__item
    background-color: $purple
    background-position: center
    background-size: cover
    position: relative
    border-radius: 3px
    margin-bottom: $gutter
    height: 160px

    @media screen and (min-width: $tablet)
        margin-bottom: 0
        height: 300px

    @supports (display: flex)
        justify-content: center
        align-items: center
        display: flex

    &:before 
        background-color: rgba(60,60,86, 0.8)
        transition: background-color ease-in 0.1s
        position: absolute
        border-radius: 3px
        cursor: pointer
        height: 160px
        z-index: 300
        display: block
        content: ""
        bottom: 0
        right: 0
        left: 0
        top: 0

        @media screen and (min-width: $tablet)
            margin-bottom: 0
            height: 300px

    &:hover
        &:before 
            background-color: rgba(254,67,101, 0.75)

.nd-portfolio__title
    color: white
    z-index: 500
    position: relative
    font-size: $xxl-font-size
    font-weight: $nd-adelle-light
    line-height: 1.25em
    padding-top: 120px
    margin: 0

    @supports (display: flex)
        padding-top: 0

    small
        display: none
        background-color: white
        font-family: $nd-freight
        font-size: $lg-font-size
        margin: $gutter $gutter 0 $gutter
        line-height: 1.35em
        margin-top: $gutter
        padding: 5px 10px
        color: $purple

        @media screen and (min-width: $wide-mobile)
            display: block

