//
// Homepage Header
// --------------------------
$nd-header-content-width: 500px;
// --------------------------


//
// Layout & Grid
// --------------------------
.nd-row {
  display: block;
}

@media screen and (min-width: $tablet) {
  .nd-row {
    display: flex;
    justify-content: space-between;
  }

  .nd-col-4 {
    float: none;
    flex: 0 0 31%;
  }

  .nd-col-6 {
    width: 50%;
  }
}


//
// Header
// --------------------------
.nd-header {
  width: 100%;
  background-color: $color-vanilla;
}

.nd-header-info {
  padding: 3rem 1rem;
  text-align: center;
}

.nd-header-logo {
  display: block;
  margin: 0 auto 20px;
  width: 80%;
  max-width: 300px;
}

.nd-header-title {
  margin: 2rem auto;
  font-size: $xl-font-size;
  font-weight: $nd-adelle-light;
}

.nd-header-intro {
  margin: 2rem auto 0 auto;
  width: 90%;
  font-family: $nd-freight;
  font-size: $lg-font-size;
  line-height: 1.2em;
  color: $color-purple-dark;
}

.nd-header-cta {
  display: inline-block;
  padding: 8px 10px;
  font-size: $sm-font-size;
  font-weight: $nd-adelle-bold;
  text-align: center;
  text-transform: uppercase;
  color: $color-purple;

  .fa {
    margin-right: 8px;
    color: $color-purple-light;
  }

  &:hover {
    background-color: $color-pink;
    color: white;

    .fa {
      color: $color-offWhite;
    }
  }

  &:focus {
    background-color: white;
    color: black;
  }
}

@media screen and (min-width: $tablet) {
  .nd-header-info {
    display: flex;
    flex-flow: column;
    justify-content: center;
    align-items: center;
  }

  .nd-header-cta {
    margin: 0 1rem;
    font-size: $md-font-size;
  }
}

@media screen and (min-width: $desktop) {
  .nd-header-intro {
    font-size: $xl-font-size;
  }
}

//
// Header image
// --------------------------
.nd-header-image {
  position: relative;
  min-height: 360px;
  background-color: $color-purple-dark;
  background-position: center;
  background-size: cover;

  img {
    width: 100px;
    visibility: hidden;
  }
}

.nd-header-credit {
  position: absolute;
  right: 0;
  bottom: 0;
  display: inline-block;
  padding: 6px 10px;
  background-color: rgba(255,255,255,0.5);
  font-size: $sm-font-size;
  color: $color-offBlack;

  a {
    font-weight: bold;
    color: $color-purple;
  }

  &:hover {
    background-color: white;
    color: $color-pink;
  }
}

// TODO Add more images and randomize this
.nd-travel-img {
  display: block;
  width: 100%;
}

//
// Skills
// --------------------------
.nd-skills {
  padding: $site-gutter * 2;
  border-top: 1px solid $color-purple;
  background-color: mix($color-purple-dark, $color-purple);
  color: mix($color-vanilla, $color-purple, 70%);

  h3 {
    margin-bottom: 2.5rem;
    font-weight: $nd-adelle-light;
    text-transform: uppercase;
    color: $color-vanilla;
    letter-spacing: 0.15rem;
  }

  ul {
    padding: 0;
  }

  li {
    margin-bottom: 1rem;
    list-style-type: none;

    &:hover {
      color: white;
    }
  }
}

@media screen and (min-width: $tablet) {
  .nd-skills ul {
    border-top: none;
    border-left: 1px solid $color-purple;
  }

  .nd-skills li {
    display: inline-block;
    float: left;
    width: 50%;
  }
}

@media screen and (min-width: $desktop) {
  .nd-skills li {
    width: 25%;
  }
}
