//
// Branding
// --------------------------
$color-purple-dark:   #3C3C56;
$color-purple:        #715F80;
$color-purple-light:  #B2A3BD;

$color-vanilla:       #F7F6E4;

$color-offWhite:      #E6E6E6;
$color-offBlack:      #333333;

$color-teal:          #79B7B0;
$color-plum:          #635063;

$color-pink:          #FE4365;

$violet:              mix($color-plum, $color-purple);
$color-slate:         mix($color-vanilla, $color-offBlack, 20%);
$raspberry:           mix($color-plum, $color-vanilla, 20%);

$color-plum-light:    lighten($color-plum, 20%);
$color-purple-light:  lighten($color-purple, 20%);
$color-slate-light:   lighten($color-slate, 20%);

$header-height-default: 	480px;
$header-height-desktop: 	400px;
$header-height-tablet: 		240px;
$header-height-mobile: 		180px;

//
// Typography
// --------------------------
$nd-adelle: 	"adelle-sans", "Adelle Sans", "Proxima Nova", "Helvetica Neue", Helvetica, sans-serif;
$nd-freight: 	"freight-text-pro", "Freight Text", Georgia, serif;

$nd-adelle-light:      300;
$nd-adelle-regular:    400;
$nd-adelle-bold:       700;
$nd-adelle-extra-bold: 700;

$nd-freight-book:      400;
$nd-freight-bold:      700;

$serif-font:           $nd-freight;
$sans-font:            $nd-adelle;

//
// Alternative breakpoints
// ------------------------

$mobile:          320px;
$wide-mobile:     480px;
$narrow-tablet:   640px;
$tablet:          800px;
$desktop:         960px;
$wide-desktop:    1280px;

$site-gutter:     20px;

$xs-font-size:    10px;
$sm-font-size:    12px;
$md-font-size:    14px;
$lg-font-size:    18px;
$xl-font-size:    22px;
$xxl-font-size:   28px;
