@charset "UTF-8";
/* By: Nicole Dominguez, @sodevious */
.portfolio .portfolio-item img, .blog article p img {
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.3);
  border-radius: 5px;
  width: 100%; }

/* Bourbon 4.0.2
 * http://bourbon.io
 * Copyright 2011–2014 thoughtbot, inc.
 * MIT License */
/* Neat 1.7.0.pre
 * http://neat.bourbon.io
 * Copyright 2012–2014 thoughtbot, inc.
 * MIT License */
/**
 * Disable all deprecation warnings. Defaults to `false`. Set with a `!global` flag.
 *
 * @type Bool
 */
html {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box; }

*, *:before, *:after {
  -webkit-box-sizing: inherit;
  -moz-box-sizing: inherit;
  box-sizing: inherit; }

/**
 * Makes an element a outer container by centring it in the viewport, clearing its floats, and setting its `max-width`.
 *
 * Although optional, using `outer-container` is recommended. The mixin can be called on more than one element per page, as long as they are not nested.
 *
 * @param {Number} $local-max-width ($max-width) - Max width to be applied to the element. Can be a percentage or a measure.
 *
 * @example scss
 *  .element {
 *    @include outer-container(100%);
 *  }
 *
 * @example css
 *  .element {
 *    *zoom: 1;
 *    max-width: 100%;
 *    margin-left: auto;
 *    margin-right: auto;
 *  }
 *
 *  .element:before, .element:after {
 *    content: " ";
 *    display: table;
 *  }
 *
 *  .element:after {
 *    clear: both;
 *  }
 */
/**
 * Changes the display property used by other mixins called in the code block argument.
 *
 * @param {String} $display (block) - Display value to be used within the block. Can be `table` or `block`.
 *
 * @example scss
 *   @include display(table) {
 *    .display-table {
 *      @include span-columns(6);
 *     }
 *   }
 *
 * @example css
 *   // CSS
 *   .display-table {
 *      display: table-cell;
 *      ...
 *   }
 */
/**
 * Changes the direction property used by other mixins called in the code block argument.
 *
 * @param {String} $direction (left-to-right) - Layout direction to be used within the block. Can be `left-to-right` or `right-to-left`.
 *
 * @example scss
 *   @include direction(right-to-left) {
 *    .right-to-left-block {
 *      @include span-columns(6);
 *     }
 *   }
 *
 * @example css
 *   // CSS
 *   .right-to-left-block {
 *     float: right;
 *      ...
 *   }
 */
body {
  -webkit-text-size-adjust: 100%;
  font-family: "adelle-sans", "Adelle Sans", "Effra", "Proxima Nova", "Helvetica Neue", Helvetica, sans-serif;
  font-weight: 400;
  line-height: 1.25em;
  color: #5a5a56; }

i, cite, em, var, address, dfn {
  font-style: italic; }

strong, b {
  font-weight: 600; }

p {
  color: #333333; }
  p a {
    border-bottom: 1px solid #998099;
    font-weight: 500;
    color: #2f2b3f; }
    p a:hover {
      background-color: #998099;
      color: #e6e6e6;
      border-bottom: 1px solid #2f2b3f; }

pre {
  margin-top: 0px;
  margin-bottom: 25px; }
  pre code {
    width: 95%;
    display: block;
    padding: 10px;
    font-family: Consolas, "Liberation Mono", Courier, monospace;
    white-space: pre;
    border-radius: 6px;
    background: rgba(255, 255, 255, 0.7); }

a {
  text-decoration: none;
  -webkit-transition: all 0.3s ease;
  -moz-transition: all 0.3s ease;
  transition: all 0.3s ease; }

.container {
  overflow: visible;
  max-width: 68em;
  margin-left: auto;
  margin-right: auto; }
  .container:after {
    content: "";
    display: table;
    clear: both; }

section {
  padding: 60px 0;
  background-color: #f7f6e4;
  border-bottom: 1px solid #d9d4ca; }
  section h2 {
    margin: 0px;
    color: #493d51;
    padding-bottom: 20px;
    text-align: center;
    font-size: 1.75em;
    font-weight: 300;
    font-family: "adelle-sans", "Adelle Sans", "Effra", "Proxima Nova", "Helvetica Neue", Helvetica, sans-serif; }
  section .section-link {
    display: block;
    margin-top: 1.618em;
    font-family: "adelle-sans", "Adelle Sans", "Effra", "Proxima Nova", "Helvetica Neue", Helvetica, sans-serif;
    font-size: 1.15em;
    font-style: italic;
    text-align: center;
    color: #968a90; }
    section .section-link:hover {
      color: #635063; }
    section .section-link i {
      margin-left: 5px; }

hr {
  background: #c7d6d4;
  width: 100%;
  height: 1px;
  border: 1px;
  margin: 2.1034em 0; }

blockquote {
  margin: 1.618em 0;
  width: 95%;
  margin-left: 2.5%;
  padding: 0.809em;
  font-size: 1em;
  font-style: italic;
  background: rgba(255, 255, 255, 0.7); }

header {
  background-color: #2f2b3f;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  background-image: url("/img/nd-bg3.jpg");
  border-bottom: 4px solid #333333;
  height: 480px;
  padding: 0px 10px; }
  header .header-title {
    position: relative;
    bottom: -350px; }
  header .header-links {
    position: relative;
    bottom: -415px; }
  header .navigation {
    background-image: url("/img/nd-float4.png");
    background-repeat: no-repeat;
    background-size: contain;
    background-position: 100px center;
    height: 100%;
    position: relative;
    bottom: 0px;
    max-width: 68em;
    margin-left: auto;
    margin-right: auto; }
    header .navigation:after {
      content: "";
      display: table;
      clear: both; }
  @media screen and (min-width: 961px) and (max-width: 1200px) {
    header {
      height: 400px; }
      header .header-title {
        position: relative;
        bottom: -270px; }
      header .header-links {
        position: relative;
        bottom: -335px; } }
  @media screen and (min-width: 601px) and (max-width: 960px) {
    header {
      height: 300px; }
      header .header-title {
        position: relative;
        bottom: -170px; }
      header .header-links {
        position: relative;
        bottom: -235px; } }
  @media screen and (max-width: 600px) {
    header {
      height: 180px; }
      header .header-title {
        position: relative;
        bottom: -50px; }
      header .header-links {
        position: relative;
        bottom: -115px; } }

.header-title {
  padding: 0px;
  margin-top: 0px;
  margin-bottom: 0px;
  font-family: "adelle-sans", "Adelle Sans", "Effra", "Proxima Nova", "Helvetica Neue", Helvetica, sans-serif;
  font-weight: 800;
  font-size: 30px;
  line-height: 0.9em;
  text-transform: uppercase;
  text-shadow: 0px 2px 0px #181621;
  float: left;
  display: block;
  margin-right: 2.35765%;
  width: 23.23176%; }
  .header-title:last-child {
    margin-right: 0; }
  .header-title a {
    color: #c1c0c4; }
    .header-title a:hover {
      color: #9c9ba3; }
  .header-title img {
    width: 70%; }

.header-links {
  margin-top: 0px;
  float: left;
  display: block;
  margin-right: 2.35765%;
  width: 31.76157%;
  margin-left: 42.64902%; }
  .header-links:last-child {
    margin-right: 0; }
  .header-links ul {
    margin-top: 25px;
    padding: 0px; }
  .header-links li {
    padding: 0px;
    margin: 0px;
    float: right;
    display: inline-block;
    padding-left: 20px;
    font-family: "adelle", "Adelle", Georgia, serif;
    font-size: 14px;
    text-align: right;
    text-transform: uppercase;
    color: #7f677f; }
  .header-links a {
    opacity: 0.8;
    color: #f7f6e4;
    text-decoration: none; }
    .header-links a:hover {
      opacity: 1;
      color: #ebe9bd; }

.portfolio .portfolio-item {
  float: left;
  display: block;
  margin-right: 2.35765%;
  width: 48.82117%;
  margin-bottom: 30px; }
  .portfolio .portfolio-item:last-child {
    margin-right: 0; }
  .portfolio .portfolio-item:nth-child(2n) {
    margin-right: 0; }
  .portfolio .portfolio-item i {
    font-size: 16px; }
  .portfolio .portfolio-item img:hover {
    top: 1px;
    position: relative;
    box-shadow: rgba(0, 0, 0, 0.3) 0 1px 3px; }
  .portfolio .portfolio-item h3 {
    font-size: 1.3em;
    margin-bottom: 0px;
    font-family: "adelle-sans", "Adelle Sans", "Effra", "Proxima Nova", "Helvetica Neue", Helvetica, sans-serif;
    line-height: 1em;
    color: #635063; }
    .portfolio .portfolio-item h3 .post-links {
      float: right;
      display: inline-block; }
    .portfolio .portfolio-item h3 i {
      position: relative;
      top: 6px;
      font-size: 1.4em; }
    .portfolio .portfolio-item h3 a {
      color: #635063; }
      .portfolio .portfolio-item h3 a:hover {
        color: #473947; }
    .portfolio .portfolio-item h3 a > i {
      margin-left: 0.4045em;
      text-decoration: none;
      color: #998099;
      -webkit-transition: all 0.3s ease-in;
      -moz-transition: all 0.3s ease-in;
      transition: all 0.3s ease-in; }
      .portfolio .portfolio-item h3 a > i:hover {
        color: #635063; }
.portfolio .post-role {
  margin: 0 0 5px 0;
  display: block;
  font-family: "adelle", "Adelle", Georgia, serif;
  font-size: 0.6em;
  text-transform: uppercase;
  word-spacing: 1px;
  font-weight: 300;
  color: #81817b; }

.portfolio.individual h2,
section[role="projects"].individual h2 {
  margin-bottom: 3.236em; }
.portfolio.individual .portfolio-item,
section[role="projects"].individual .portfolio-item {
  margin-bottom: 1.618em; }
.portfolio.individual .portfolio-content,
section[role="projects"].individual .portfolio-content {
  font-family: "adelle", "Adelle", Georgia, serif;
  font-size: 1.09em;
  line-height: 1.45em;
  margin-bottom: 0.809em; }
  .portfolio.individual .portfolio-content p,
  section[role="projects"].individual .portfolio-content p {
    color: #464644; }
.portfolio.individual .page-meta,
section[role="projects"].individual .page-meta {
  display: block;
  margin-bottom: 0.4045em;
  color: #464644; }
  .portfolio.individual .page-meta a,
  section[role="projects"].individual .page-meta a {
    color: #547177; }
    .portfolio.individual .page-meta a:hover,
    section[role="projects"].individual .page-meta a:hover {
      color: #2f2b3f; }
  .portfolio.individual .page-meta label,
  section[role="projects"].individual .page-meta label {
    text-transform: uppercase;
    margin-right: 0.3236em;
    font-size: 0.9em;
    color: #74746f; }
.portfolio.individual .portfolio-images img,
section[role="projects"].individual .portfolio-images img {
  margin-bottom: 2.1034em; }

a.nav {
  margin-top: 3.236em; }

.intro h2 {
  margin: 0;
  padding-bottom: 30px;
  font-size: 28px;
  font-family: "adelle", "Adelle", Georgia, serif;
  font-weight: 300;
  text-transform: none;
  line-height: 1.25em;
  color: #4f444f; }
.intro h3 {
  margin: 0px;
  padding-bottom: 6px;
  font-weight: 500;
  font-family: "adelle", "Adelle", Georgia, serif;
  color: #8e8e88;
  font-size: 12px;
  text-transform: uppercase; }
.intro p {
  text-align: left;
  font-size: 18px;
  line-height: 25px;
  font-weight: 300;
  color: #493d51;
  margin: 0px; }
.intro .biography {
  float: left;
  display: block;
  margin-right: 2.35765%;
  width: 57.35098%;
  font-size: 18px;
  line-height: 25px;
  font-weight: 300;
  color: #635063; }
  .intro .biography:last-child {
    margin-right: 0; }
.intro .social-links {
  float: left;
  display: block;
  margin-right: 2.35765%;
  width: 40.29137%; }
  .intro .social-links:last-child {
    margin-right: 0; }
  .intro .social-links p {
    color: #5a5a56; }
    .intro .social-links p i {
      font-size: 12px;
      padding-right: 4px;
      color: #5c547c; }

.blog article, .blog aside {
  float: left;
  display: block;
  margin-right: 2.35765%;
  width: 82.94039%;
  margin-left: 8.5298%; }
  .blog article:last-child, .blog aside:last-child {
    margin-right: 0; }
.blog article {
  margin-bottom: 20px; }
  .blog article .post-title {
    font-family: "adelle-sans", "Adelle Sans", "Effra", "Proxima Nova", "Helvetica Neue", Helvetica, sans-serif;
    font-weight: 600;
    margin-bottom: 0.6472em; }
    .blog article .post-title a {
      color: #715b71; }
      .blog article .post-title a:hover {
        border-bottom: 1px solid #2f2b3f;
        background-color: #998099;
        color: #e6e6e6; }
  .blog article h3 {
    margin-bottom: 0px;
    font-family: "adelle-sans", "Adelle Sans", "Effra", "Proxima Nova", "Helvetica Neue", Helvetica, sans-serif;
    font-weight: 700;
    font-size: 1.25em;
    line-height: 1.25em;
    word-spacing: 1px; }
  .blog article p {
    color: #5a5a56;
    margin-top: 0px;
    margin-bottom: 13.33333px;
    font-family: "adelle", "Adelle", Georgia, serif;
    font-size: 1.1em;
    font-weight: 300;
    line-height: 1.6em; }
    .blog article p:last-child {
      margin: 0; }
    .blog article p img {
      margin: 0.809em 0 0.53933em 0; }
.blog .meta {
  margin: 0.53933em 0 1.618em 0;
  font-family: "adelle-sans", "Adelle Sans", "Effra", "Proxima Nova", "Helvetica Neue", Helvetica, sans-serif;
  font-size: 0.9em;
  color: #635063; }
  .blog .meta a {
    margin: 0;
    padding-right: 5px;
    font-size: 1.2em;
    font-weight: 100;
    line-height: 1px;
    vertical-align: baseline;
    color: #998099; }
  .blog .meta i {
    margin-left: 5px;
    font-size: 0.8em; }
.blog .single {
  margin-bottom: 1.618em; }
  .blog .single h3 {
    font-size: 1.8em;
    line-height: 1em; }
  .blog .single ul {
    margin-left: 1.618em; }
    .blog .single ul li {
      margin: 0.53933em 0;
      font-size: 0.9em;
      list-style-type: disc; }
.blog aside a {
  padding: 6px;
  font-size: 0.85em;
  text-transform: uppercase;
  background: rgba(255, 255, 255, 0.8);
  color: #8d728d; }
.blog aside li {
  margin-top: 0.809em;
  text-align: center;
  word-spacing: 2px; }

section[role="projects"] .side-project {
  margin-bottom: 1.618em; }
  section[role="projects"] .side-project h3 {
    margin-bottom: 0.53933em;
    font-size: 1.3em; }
    section[role="projects"] .side-project h3 a {
      margin-left: 0.3236em;
      font-size: 0.8em;
      color: #92c0ba; }
      section[role="projects"] .side-project h3 a:hover {
        color: #58a59c; }
  section[role="projects"] .side-project p {
    font-size: 1.05em;
    font-family: "adelle", "Adelle", Georgia, serif;
    line-height: 1.5em;
    color: #5a5a56; }

footer {
  padding: 0.809em 0 0.809em 0;
  font-family: "adelle-sans", "Adelle Sans", "Effra", "Proxima Nova", "Helvetica Neue", Helvetica, sans-serif;
  font-weight: 300;
  border-top: 4px solid #998099;
  background: #2f2b3f; }
  footer p, footer a {
    font-size: 0.8em;
    color: #7f677f; }

.footer-meta {
  float: left;
  display: block;
  margin-right: 2.35765%;
  width: 31.76157%; }
  .footer-meta:last-child {
    margin-right: 0; }

.footer-links {
  float: left;
  display: block;
  margin-right: 2.35765%;
  width: 31.76157%;
  margin-left: 34.11922%;
  padding: 0px;
  text-align: right; }
  .footer-links:last-child {
    margin-right: 0; }
  .footer-links li {
    display: inline-block;
    list-style-type: none; }
  .footer-links a {
    margin-left: 20px;
    text-transform: uppercase; }
    .footer-links a:hover {
      border-bottom: 1px solid #998099; }
