<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
        <title>{{ page.title }}</title>
        <meta name="viewport" content="width=device-width">

        <link rel="stylesheet" href="{{site.url}}/stylesheets/app.css">
        <link rel="stylesheet" href="/stylesheets/font-awesome.min.css">
        <link rel="stylesheet" href="/stylesheets/font-awesome-social.css">

        <script type="text/javascript" src="//use.typekit.net/pft1bmg.js"></script>
        <script type="text/javascript">try{Typekit.load();}catch(e){}</script>
    </head>
    <body>
	    {% include header.html %}
        {% include intro.html %}
        {% include hire-me.html %}
	    {% include portfolio.html %}

            {% include styles.html %}
        <!-- 
            {{ content }}
        -->

    </body>
</html>
