<!DOCTYPE html>
<html>
<head>
  <!-- Meta -->
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
  <title>Nicole Dominguez &mdash; @sodevious &mdash; Freelance Product Designer & Web Developer</title>
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
  <link rel="shortcut icon" href="/assets/images/favicon.ico">
  <link rel="alternate" type="application/rss+xml" title="RSS Feed for nicoledominguez.com" href="/feed.xml" />
  <meta name="description" content="Nicole Dominguez is a freelance front-end developer and product designer. Works with HTML, CSS, Sass/Less, Haml, jQuery, Django, Python.">

  <!-- Stylesheets -->
  <link rel="stylesheet" href="/assets/stylesheets/normalize.css">
  <link rel="stylesheet" href="/assets/stylesheets/style.css">
  <link rel="stylesheet" href="/assets/stylesheets/font-awesome.min.css">

  <!-- Vendor -->
  <meta name="twitter:card" content="summary">
  <meta name="twitter:site" content="@sodevious">
  <meta name="google-site-verification" content="af0x8lMFq5Izj7MNfhrGXiObtaPCSo4QrON2DW8BjIM" />

  <!-- Typekit -->
  <script>
  (function(d) {
    var config = {
      kitId: 'amr1fda',
      scriptTimeout: 3000,
      async: true
    },
    h=d.documentElement,t=setTimeout(function(){h.className=h.className.replace(/\bwf-loading\b/g,"")+" wf-inactive";},config.scriptTimeout),tk=d.createElement("script"),f=false,s=d.getElementsByTagName("script")[0],a;h.className+=" wf-loading";tk.src='https://use.typekit.net/'+config.kitId+'.js';tk.async=true;tk.onload=tk.onreadystatechange=function(){a=this.readyState;if(f||a&&a!="complete"&&a!="loaded")return;f=true;clearTimeout(t);try{Typekit.load(config)}catch(e){}};s.parentNode.insertBefore(tk,s)
  })(document);
  </script>
</head>
<body>
  {{ content }}

  {% include analytics.html %}
</body>
</html>