---
layout: compress
---

{% include head.html %}
{% include site-header.html %}

<main role="main" class="nd-page">
  <div class="nd-portfolio__header">
    <h1 class="nd-portfolio__heading">{{ page.title }}</h1>

    {% if page.role %}
      <h2 class="nd-portfolio__sub-heading">
        {{ page.role }}
      </h2>
    {% endif %}
  </div>

  <div class="nd-portfolio__content">
    {{ content }}
  </div>

  <a href="/portfolio/" class="section-link">Go back to my portfolio</a>
</main>

{% include footer.html %}
</body>
</html>
