{% include head.html %}

<header class="site-header">
    {% include header.html %}
</header>

<section class="portfolio">
    <div class="container">
        <div class="portfolio-individual">
            <h2>{{ page.title }}</h2>

            <div class="portfolio-item">
                <div class="portfolio-content">
                    <p>{{ content }}</p>
                </div>

                <ul class="page-meta">
                    <li>
                        <label>Date</label>{{ page.date | date: "%B %Y" }}
                    </li>
                    {% if page.role %}
                        <li>
                            <label>Role</label>{{ page.role }}
                        </li>
                    {% endif %}
                    {% if page.stack %}
                        <li>
                            <label>Tech</label>{{ page.stack }}
                        </li>
                    {% endif %}
                    {% if page.made %}
                        <li>
                            <label>While</label> {{ page.made }}
                        </li>
                    {% endif %}
                    {% if page.features %}
                        <li>
                            <label>Etc.</label>{{ page.features }}
                        </li>
                    {% endif %}
                    {% if page.site_url %}
                        <li>
                            <label>Site</label><a href="{{ page.site_url }}">{{ page.pretty_url }}</a>
                        </li>
                    {% endif %}
                    {% if page.github %}
                        <li>
                            <label>Code</label><a href="{{ page.github }}">{{ page.pretty_github }}</a>
                        </li>
                    {% endif %}
                </ul>
            </div>

            <div class="portfolio-images">
                {% if page.desktop_img %}
                    <img src="/assets/images/portfolio/{{ page.desktop_img }}" class="grid-eight"/>{% endif %}
                {% if page.mobile_img %}
                    <img src="/assets/images/portfolio/{{ page.mobile_img }}" class="grid-four"/>{% endif %}

                {% for image in page.images %}
                    <img src="{{ image.url }}" alt="{{ image.meta }}" title="{{ image.meta }}" class="{{ image.class }}"/>
                {% endfor %}

                {% if page.youtube %}
                    <iframe width="640" height="480" src="{{ page.youtube }}" frameborder="0" allowfullscreen></iframe>
                {% endif %}
            </div>
        </div>
    </div>

    <a class="section-link" href="/portfolio/"><i class="icon-long-arrow-left"></i> Back to my portfolio</a>
</section>

{% include footer.html %}