---
layout: page
---

<div class="blog">
    <div class="container">
        <article role="article" class="post-single">
            <h1 class="post-title"><a href="{{page.url}}">{{page.title}}</a></h1>

            {{ content }}

            <div class="post-meta">
                Nicole wrote this on {{ page.date | date: "%B %e, %Y" }} and it's probably about {{ page.tag }}.
            </div>
        </article>
    </div>

    <a class="section-link" href="/archives/"><i class="fa fa-long-arrow-left" aria-hidden="true"></i> Back to all the things!</a>
</div>
