{% include head.html %}
{% include site-header.html %}

<section class="blog">
    <div class="container">
        <article class="single">
            <h3 class="post-title"><a href="{{page.url}}">{{page.title}}</a></h3>
            {{ content }}
            <div class="meta">
                Nicole wrote this on {{ page.date | date: "%B %e, %Y" }} and it's probably about {{ page.tag }}.
            </div>
        </article>
    </div>
    <a class="section-link" href="/archives/"><span>&#8592;</span>&nbsp;Back to all the things!</a>
</section>

{% include footer.html %}